:root {
    --c-light: #fefefc;
    --c-dark: #100604;
    --c-lighter-text: #302624;
    --c-primary: #9B1D20;
    --c-secondary: #180B5B;
    --c-link: #009FB7;
    --c-visited: #0d0630;
    --c-highlight: #e9eced;
    --c-aside: #E6CB9A;
    
    font-size: 14px;

    --f-serif: 'Libre Baskerville', Baskerville, Cambria, Georgia, serif;
    --f-sans: 'Asap Condensed', 'Arial Narrow', Arial, sans-serif;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    background-color: var(--c-light);
    font-family: var(--f-serif);
}

main {
    margin: auto;
    width: min(1200px, 100vw);
}

section#content {
    position: relative;
}

div#poll-timeline {
    width: 100%;
    height: 600px;
}

img#static-chart {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.language-link {
    font-family: var(--f-sans);
    position: absolute;
    right: 2.5em;
    top: 1em;
}

::selection { 
    background-color: var(--c-highlight);
}
p {
    line-height: 1.625rem;
    word-wrap: break-word;
    margin-left: 175px;
    margin-right: 175px;
}
a {
    color: var(--c-link);
    text-decoration: none;
    border-bottom: 1px solid currentColor;
    outline: none;
}
a:visited {
    color: var(--c-visited);
}
a:focus {
    background-color: var(--c-link);
    color: var(--c-light);
    border-color: var(--c-link);
}
a:hover {
    border-bottom-width: 2px;
}
a:active {
    background-color: var(--c-visited);
    color: var(--c-light);
    border-color: var(--c-visited);
}
h1, h2 {
    font-family: var(--f-sans);
    color: var(--c-primary);
    font-weight: 500;
    text-align: center;
}
h1 {
    font-size: 1.75rem;
    margin-top: .5em;
    margin-bottom: .25em;
}
hr {
    border: 1px solid var(--c-aside);
}
#poll-timeline a {
    border: 0;
}
.al-l {
    text-align: left;
}
.al-r {
    text-align: right;
}
th.al-r {
    max-width: 5rem;
}
table {
    width: 100%;
    margin-top: 1rem;
    margin-bottom: 2rem;
}
table th {
    font-family: var(--f-sans);
}
table td {
    padding: 0 .5rem;
    line-height: 2rem;
}